body {
    background-color: #85b9e9;
}

table {
    border-collapse:  collapse; /* セルの線を重ねる */
}

th,td {
    border: solid 1px;  /* 枠線指定 */
    padding: 10px;      /* 余白指定 */
}

ul {
    list-style: none;
}

.wf-mplus1p { font-family: "M PLUS 1p"; }